.ca_mask{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.45);
	display: table;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  direction: rtl;
}

body {
	background-image:url('img.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;
	width: 100%;
	height: 100%;
	top: 0px;
	right: 0px;
	margin: 0px;
	direction: rtl;
	font-family: 'south_web_400',sans-serif;
}

html {
	width: 100%;
	height: 100%;
	position: relative;
}

.ca_middle_wrapper {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.ca_popup_wrapper{
	width:600px;
	padding: 20px;
	-webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.56);
	-moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.56);
	box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.56);
	display: inline-block;
	background: #fff;
}

.x_popup_wrapper {
	direction: ltr;
	text-align: left;
	height: auto;
	position: relative;
}

.x_popup {
	display: block;
	width: 26px;
	height: 26px;
	background-image:url('x.png');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}

.inner_display {
	display: table-cell;
}

.popup_input_wrapper.is-in .lable_input {
    top: 12px;
    font-size: 12px;
}

.lable_input {
    color: #818181;
    font-size: 18px;
    position: absolute;
    top: 34px;
    right: 0px;
    display: block;
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    cursor: auto;
    z-index: 0;
    pointer-events: none;
}

.popup_title {
	font-size: 32px;
	margin-bottom: 20px;
	margin-top: 20px;
}

.popup_content_wrapper {
	text-align: center;
	padding: 0px 80px;
	overflow: auto;
}

.popup_sub_title {
	font-size: 14px;
	line-height: 2.14;
	margin-bottom: 20px;
}

.popup_input_wrapper {
	position: relative;
	height: 83px;
	padding-top: 30px;
	padding-bottom: 23px;
}

.input_content{
	display: block;
	width: 100%;
	padding: 3px 0px 10px 5px;
	direction: rtl;
	border: 0px;
	border-bottom: 1px solid #818181;
	font-size: 18px;
}

.popup_click{
	border: 0px;
	background-color: #d10202;
	color: #fff;
	padding: 17px 0px;
	display: block;
	width: 100%;
	margin-top: 41px;
	-webkit-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.55);
	-moz-box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.55);
	box-shadow: 0px 10px 24px 0px rgba(0,0,0,0.55);
	font-size: 16px;
	margin-bottom: 25px;
	height: 50px;
}

.popup_click_underline {
	text-decoration: underline;
}

.popup_form {
	position: relative;
	display: block;
	min-height: 0;
	overflow: auto;
	height: auto;
}

.buttons_wrapper {
	position: fixed;
	width: 100%;
	height: auto;
	top: 0px;
	right: 0px;
}

.btn {
	float: left;
	width: 25%;
	text-align: center;
	padding: 20px 0px;
	background: #fff;
	border: 1px solid;
	background-color: rgba(255,255,255,0.6);
}

.pop_up_error {
	position: absolute;
	bottom: 0px;
	right: 0px;
	font-size: 12px;
	color: #d10202;
	display: none;
}